<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigoxinCalculator">






        <!-- 💥 تم حذف التعريف الأول الناقص هنا. -->

        <activity
            android:name=".ChildrenNewbornsActivity"
            android:exported="false"
            android:parentActivityName=".NotesActivity"
            android:label="Children &amp; Newborns Dosage"/>
        <activity
            android:name=".PregnancyActivity"
            android:exported="false"
            android:parentActivityName=".NotesActivity"
            android:label="Pregnancy Guidelines"/>
        <activity
            android:name=".GITDisordersActivity"
            android:exported="false"
            android:parentActivityName=".NotesActivity"
            android:label="GIT Disorders Notes"/>

        <activity
            android:name=".ElectrolytesActivity"
            android:exported="false"
            android:parentActivityName=".NotesActivity"
            android:label="Electrolytes Notes"/>

        <activity android:name=".KidneyDisordersActivity"
            android:parentActivityName=".NotesActivity"/>

        <activity android:name=".ElderlyDosingActivity"
            android:parentActivityName=".NotesActivity"/>

        <activity
            android:name=".NotesActivity"
            android:exported="false" />

        <!-- 💥 هذا هو التعريف النهائي والمدمج لـ MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DigoxinCalculator"> <!-- تم نقل الثيم من التعريف المحذوف هنا -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TeamMemberActivity"
            android:exported="false"
            android:label="Team Member" />



    </application>

</manifest>